<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'chatbot/style.css'%}">
        <!-- CDN de jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="https://cdn2.iconfinder.com/data/icons/handyman-repairman-technician/254/worker-action-6-512.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                PoliteCar
              </a>
            </div>
          </nav>
        <h1>Polite Car review server</h1>
        <div>
            <div id="chatbot">
                <p class="botText"><span>Hello this is Polite Car IA </span></p>
            </div>
            <div id="userInput">
                <input type="text" name="userMessage" id="textInput" placeholder="Introduzca su mensaje...">
                <input type="submit" value="Enviar" id="buttonInput">
            </div>
        </div>
        <footer id="footer">
            <div class="container">
                <div class="row">
                <div class="col-sm-4">
                        <a href="https://larryludwig.com/faq-page-best-practices/">Faq</a>
                </div>
            
                <div class="col-sm-4">
                        <a href="https://es-la.facebook.com/PoliteCarHireLimited/">Facebook</a>
                </div>
            
                <div class="col-sm-4 col-sm-offset-3 m-16"> 
                  <a href="http://www.linkedin.com/in/rodrigo-henriquez">Owner linkedin</a>
                </div>
                </div> 
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                         <p>© Copyright 2022. All rights reserved</p>
                    </div>
                </div>
            </div>
        </footer>




        <script>
            function getUserResponse(){
                var userText = $('#textInput').val();
                var userHTML = "<p class='userText'>User: <span>"+userText+"</span></p>";
                $('#textInput').val("");
                $('#chatbot').append(userHTML);
                //envio el mensaje al backend
                $.get('/chatbot/getResponse',{userMessage:userText}).done(function(data){
                    var returnedMessage = "<p class='botText'>EmilioBot: <span>"+ data +"</span></p>";
                    $('#chatbot').append(returnedMessage);
                })

            }
            $('#buttonInput').click(function(){
                getUserResponse();
            })
        </script>
    </body>
</html>